<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- <plugins>
	   <plugin interceptor="com.jksmart.sye.cysc.interceptor.mybatis.PageInterceptor">
	     <property name="test" value="abc"/>
	   </plugin>
	</plugins> -->
</configuration> 